* {
  margin: 0;
  padding: 0;
  color: var(--gray-900);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button:hover {
  cursor: pointer;
}

a:hover {
  cursor: pointer;
}

:root {
  --white: #FFFFFF;
  --gray-150: #f0f5ef;
  --green-300: #8FC269;
  --blue-300: #00B5DB;
  --gray-900: #343434;
}

body {
  background-color: var(--white);
  font-family: Roboto Condensed, sans-serif;
  color: var(--gray-900);
}

.ContaineHeader {
  width: 100%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: var(--white);
  border-bottom: 2px solid var(--gray-900);
}

.ContaineHeader .logo {
  margin-bottom: 16px;
}

.ContaineHeader .logo img {
  margin-left: 162px;
}

.ContaineHeader .navBar nav {
  margin-right: 100px;
}

.ContaineHeader .navBar nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  justify-items: flex-end;
}

.ContaineHeader .navBar nav ul li {
  margin-bottom: 16px;
  margin-left: 35px;
}

.ContaineHeader .navBar nav ul li a {
  line-height: 83px;
  height: 52px;
  margin-left: 16px;
  padding: 1px;
  display: block;
  position: relative;
  font-weight: bold;
  border-top: 3px solid var(--white);
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ContaineHeader .navBar nav ul li a:hover {
  border-top: 3px solid var(--blue-300);
}

.ContaineHeader .navBar nav ul li .active {
  line-height: 5rem;
  border-top: 3px solid var(--green-300);
  border-radius: 2px;
}

.ContaineHeader .navBar nav ul li.active::after {
  content: '';
  border-top: 3px solid var(--green-300);
  border-radius: 2px;
  width: 100%;
  position: absolute;
}

.containerSectionOne {
  width: 100%;
  height: 100vh;
  background-image: url("../images/imgSection1.jpg");
  background-size: cover;
}

.containerSectionOne .containerImg {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.containerSectionOne .containerImg img {
  margin-top: 140px;
}

.containerSectionTwo {
  width: 100%;
}

.containerSectionTwo img {
  height: 700px;
  -o-object-fit: fill;
     object-fit: fill;
}

.containerSectionTwo .news {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10;
  color: var(--white);
}

.containerSectionTwo .news .now {
  color: var(--white);
  margin-left: 10.5%;
  max-width: 180px;
  padding: 5px;
  background-color: var(--blue-300);
}

.containerSectionTwo .news .allNews {
  color: var(--white);
  max-width: 150px;
  margin-left: 10.5%;
  padding: 5px;
  background-color: var(--green-300);
}

.containerSectionTwo .news .allNews:hover {
  cursor: pointer;
  font-weight: 700;
}

.containerSectionTwo .containerText {
  max-height: 500px;
  margin: 0 auto;
  background-color: rgba(52, 52, 52, 0.8);
  border-radius: 10px;
  padding: 17px;
  overflow: hidden;
}

.containerSectionTwo .containerText h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
  color: var(--white);
}

.containerSectionTwo .containerText p {
  height: 200px;
  text-align: left;
  font-size: 16px;
  color: var(--white);
  overflow: hidden;
}

.containerSectionTwo .buttomSlider {
  font-size: 90px;
  color: var(--green-300);
}

.containerSectionTwo .buttomInfo {
  float: right;
  color: var(--gray-900);
  background: var(--white);
  border-radius: 10px;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.containerSectionTwo .buttomInfo span {
  color: var(--blue-300);
  font-weight: 700;
}

.containerSectionTwo .buttomInfo:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.conteinerSectiontree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 700px;
  background: url(../images/formas.png);
  background-size: cover;
  background-size: 100% 100%;
}

.conteinerSectiontree .contentPhone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.conteinerSectiontree .contentPhone div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
}

.conteinerSectiontree .contentPhone div img {
  margin-right: 11%;
  height: 500px;
}

.conteinerSectiontree .containerTextAPP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.conteinerSectiontree .containerTextAPP .textApp {
  max-width: 600px;
  padding: 16px;
}

.conteinerSectiontree .containerTextAPP .textApp .containerButtom {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.conteinerSectiontree .containerTextAPP .textApp .containerButtom .buttomPlayStore {
  width: 200px;
  padding: 16px;
  border-radius: 20px;
  background: var(--green-300);
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.conteinerSectiontree .containerTextAPP .textApp .containerButtom .buttomAppStore {
  width: 200px;
  padding: 16px;
  border-radius: 20px;
  background: var(--blue-300);
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.conteinerSectiontree .containerTextAPP .textApp .buttomPlayStore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.conteinerSectiontree .containerTextAPP .textApp .buttomAppStore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.bgGray150 {
  background: var(--gray-150);
}

.bgGray50 {
  background: var(--white);
}

.ruleGreen {
  width: 100%;
  height: 43.8px;
  background: var(--green-300);
}

.containerSection {
  width: 100%;
  height: 700px;
}

.containerSection .contentHeader {
  width: 100%;
  height: 15%;
}

.containerSection .contentHeader .divTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.containerSection .contentHeader .divTitle .title {
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 38px;
}

.containerSection .contentHeader .divTitle .formaLarge {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: var(--blue-300);
}

.containerSection .contentHeader .formaContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.containerSection .contentHeader .formaContent .formaSmall {
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 70%;
  background-color: var(--blue-300);
}

.containerSection .contentShortcuts {
  width: 100%;
}

.containerSection .contentShortcuts .shortcuts {
  height: 100%;
  padding-bottom: 20px;
  background: var(--white);
}

.containerSection .contentShortcuts .shortcuts h3 {
  font-weight: 400;
  background: var(--green-300);
  text-align: center;
  margin-bottom: 30px;
}

.containerSection .contentShortcuts .shortcuts span {
  margin: 20px;
  font-size: 21px;
  font-weight: 700;
}

.containerSection .contentShortcuts .shortcuts ul {
  margin-top: 20px;
  list-style-type: none;
}

.containerSection .contentShortcuts .shortcuts ul li {
  margin-bottom: 15px;
  margin-right: 15px;
  border-bottom: 1px solid var(--blue-300);
}

.containerSection .contentShortcuts .shortcuts a:hover {
  font-weight: 700;
}

.contentAboutUs {
  width: 100%;
  height: auto;
}

.contentAboutUs .containerText {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentAboutUs .containerText .contentText {
  margin: 0 auto;
  max-width: 600px;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contentAboutUs .containerText .contentText p {
  margin-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  height: 80%;
  overflow: hidden;
}

.contentAboutUs .containerText .contentText p span {
  font-weight: 700;
}

.contentAboutUs .containerText .contentText .buttomKnowMore {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: 3px solid var(--green-300);
  font-weight: 700;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contentAboutUs .containerText .contentText .buttomKnowMore span {
  color: var(--blue-300);
}

.contentAboutUs .containerText .contentText .buttomKnowMore:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.contentAboutUs .containerImg {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentAboutUs .containerImg .contentImg {
  margin: 0 auto;
  max-width: 600px;
  height: 90%;
}

.contentAboutUs .containerImg .contentImg img {
  height: 100%;
}

.contentschedule {
  width: 100%;
}

.contentDates {
  width: 100%;
  max-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contentDates .allDates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30px;
  text-align: center;
}

.buttomPreviousSlider {
  font-size: 90px;
  color: var(--green-300);
  float: left;
}

.buttomNextSlider {
  font-size: 90px;
  color: var(--green-300);
  float: right;
  width: auto;
}

.contentSlider {
  width: 90%;
  height: 450px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contentSlider .news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  width: 210px;
  height: 380px;
  overflow: hidden;
  background-color: var(--white);
}

.contentSlider .news .containerImg {
  width: 100%;
  height: 250px;
}

.contentSlider .news .containerImg img {
  width: 100%;
  height: 250px;
}

.contentSlider .news .infoNews {
  padding: 0;
  margin: 10px;
  list-style-type: none;
}

.contentSlider .news .infoNews .title {
  font-size: 21px;
  margin-bottom: 10px;
}

.contentSlider .news .infoNews .date {
  font-size: 18px;
}

.contentSlider .news .infoNews .place {
  font-size: 14px;
}

.contentSlider .news:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 300px;
  background: #343434;
}
/*# sourceMappingURL=app.css.map */