//style Globol

* {
    margin: 0;
    padding: 0;
    color: var(--gray-900);
    box-sizing: border-box;
    
  
  }
    a {
      color: inherit;
      text-decoration: inherit;
    }
  
    button:hover {
      cursor: pointer;
    }
  
    a:hover {
      cursor: pointer;
    }
  
  //colors
  :root {
  
  
    --white: #FFFFFF;
    --gray-150: #f0f5ef;
    --green-300: #8FC269;
    --blue-300: #00B5DB;
    --gray-900: #343434;
  }
  
  //Fonts Google
  
  body {
    background-color: var(--white);
    font-family: Roboto Condensed, sans-serif;
    color: var(--gray-900);

    .upScroll{
      z-index: 13;
      position: fixed;
      bottom: 0;
      right: 0;
      margin: 0 40px 30px 0px;
      width: 60px;
      height: 60px;
      border-radius: 10px;
      background-color: var(--gray-900);
      text-align: center;
      transition: 0.3s;
      button{
        width: 100%;
        height: 100%;
      }

      i{
       
        font-size: 30px;
        color: var(--blue-300);
      }
      &:hover{
        transform: scale(1.1);
      }
   }

  }
  
  //Header ---------------------------------
  
  .ContaineHeader {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: flex-end;
    background-color: var(--white);
    
  
  
  
    .logo {
     margin-bottom: 10px;
  
      img{
        margin: 0 auto;
        width: 380px;
        
      }
  
    }
    @media (max-width: 1240px ){
      .logo{
        img{
          margin-left: 30px;
          width: 300px;
          
        }
      }
      
  }
   
   
  
    .navBar {
      
      nav {
        margin-right: 100px;
  
        ul {
          display: flex;
          list-style-type: none;
          justify-items: flex-end;
  
          li {
  
            margin-bottom: 16px;
            margin-left: 20px;
  
             a{
              
              line-height: 83px;
              height: 52px;
              margin-left: 16px;
              padding: 1px;
              display: block;
              position: relative;
              
              border-top: 3px solid var(--white);
              border-radius: 2px;
              
              transition: 0.3s;
  
              i{
                margin-right: 10px;
                color: var(--gray-900);
              }
             
             }
            a:hover{
              
              border-top: 3px solid var(--blue-300);
          
            }
            
            .active{
              line-height: 5rem;
              border-top: 3px solid var(--green-300);
              border-radius: 2px;
  
           }
           
           &.active::after{
               content: '';
               border-top: 3px solid var(--green-300);
               border-radius: 2px;
               width: 100%;
               position: absolute;  
  
           }
              
          }
        }
      }
    }
   
  
  
  }
 
  
  
  
  
  
  
 // section 1 --------------------------------------

  .bgGray150 {
    background: var(--gray-150);
  }
  
  .bgGray50 {
    background: var(--white);
  }
  //formas cabeçalho das sections 4, 5, 6
  .ruleBlue{
    width: 100%;
    height: 43.8px;
    background: var(--blue-300);
  }
  
  .containerSection {
    width: 100%;
   
  
  
    .contentShortcuts {
  
      width: 100%;
      .shortcuts {
        height: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
        background: var(--gray-150);
  
  
        h3 {
  
          font-weight: 400;
          background: var(--green-300);
          text-align: center;
          margin-bottom: 30px;
        }
  
        span {
          margin: 20px;
          font-size: 21px;
          font-weight: 700;
        }
  
        ul {
          margin-top: 20px;
          list-style-type: none;
  
          li {
            margin-bottom: 15px;
            margin-right: 15px;
            border-bottom: 1px solid var(--blue-300);
          }
        }
  
        a:hover {
          font-weight: 700;
        }
  
        &:hover{
           
             background: var(--white);
        
           box-shadow: 0px 14px 7px -10px var(--green-300);
        }
      }
    }
    
    .shortcutsDirect{
      margin-top: 20px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      
  
       .link{
      background: var(--white);
       display:flex;
       align-items: center;
       text-align: center;
       width: 22%;
       height: 90%;
       border: 3px solid var(--blue-300);
       border-radius: 10px;
       transition: 0.3s;
        span{
  
          margin: 0 auto;
        }
       }
       .link:hover{
         cursor: pointer;
         transform: scale(1.1);
       }
  
    }
    
  }
  //section ----------------------------------

  .containerSectionTwo{

    margin-top: 76px;
    margin-bottom: 76px;
    
  .containerImg{
  position: relative;

     h2{
       position: absolute;
       bottom: 30%;
       left: 10%;
       color: var(--white);
       font-weight: 700;
       font-size: 45px;
       border-bottom: 10px solid var(--green-300);
     }
    img{
      filter: brightness(0.5);
    }
  }
    

   

    .conatainerText{
      p{
        margin-top: 50px;
      }
    }

  }
  
  
  //footer-----------------------------------------------
  
  .footer{
    width: 100%;
    height: 300px;
    background: var(--gray-150);

    .containerImg{
      width: 100%;
      display: flex;
      
      img{
      margin: 0 auto;
      width: 400px;
      height: 300px;
      }
    }
  }